* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: white;
    background-color: black;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #f7f7f7;
}

@font-face {
    font-family: futura;
    src: url(./fonts&video/Futura-Bold.ttf);
}

main {
    background-color: #f7f7f7;
    padding: 2px 20px;
    position: relative;
    margin-top: 70px;
}

.page1 {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.page1 h1 {
    font-size: 15.5vw;
    font-family: futura;
    line-height: 80%;
    text-align: center;
    letter-spacing: -10px;
    margin-bottom: 2vw;
}

.main-heading {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    width: 100%;
    padding: 10px 20px;
    z-index: 332;
    position: sticky;
    left: 0px;
    top: 10px;
    display: flex;
    justify-content: space-between;
}
.nav-icon{
    height: 83px;
    overflow: hidden;
}
.nav-icon svg {
    display: block;
}

.links {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 70px;
    font-size: 10px;
    position: relative;
}

.links-main {
    display: flex;
    gap: 70px;
}

.links p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.icons {
    display: flex;
    gap: 70px;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    padding: 15px;
    height: 35px;
}

.icons i {
    font-size: 20px;
}

.video-container {
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.video-container div {
    padding: 3vw 2.5vw;
    background-color: black;
    color: white;
    font-family: futura;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    scale: 0;
}


/*   -------------------------------->  Page 1 complete <---------------------------------- */
.page2 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.page2 div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.page2-heading {
    border-bottom: 1px solid black;
}

.elements {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.elements .elem {
    height: 40vw;
    width: 30vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.page2 div h5 {
    font-family: futura;
    color: #5c5c5c;
}

.elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.details {
    position: absolute;
    max-width: 300px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
}

.details div {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
}

.details div i {
    font-size: 12px;
}

.details::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 10px 40px, 100% 40px;
    transition: all 0.2s;
    border-radius: 25px;
}

#dets1 {
    background-color: #E5F0D6;
}

#dets1::before {
    background-color: #E5F0D6;
    background-image: url('https://cdn.sanity.io/images/w8f1ak3c/production/6a73d4df28963d86c7f9dd49f805b8ec84774bd5-4672x7008.png/DSC0069_Dexter%20Kim%20copy.png?rect=0,515,4672,5241&fp-x=0.5&fp-y=0.44735661764705875&w=320&h=359&fit=crop&crop=focalpoint&auto=format'), url("https://cdn.sanity.io/images/w8f1ak3c/production/d6c7e5bbcf3445fccb7e221bc5b1b9fd94d83362-5000x5000.png/DSC0032_Dexter%20Kim.png?w=320&h=320&auto=format");

}

#dets2 {
    background-color: #f5dfcf;
}

#dets2::before {
    background-color: #f5dfcf;
    background-image: url('https://cdn.sanity.io/images/w8f1ak3c/production/3ab2d63c7e5ce5b1d39a1880e2a274771573ccbe-5000x5000.png/DSC0058_Dexter%20Kim.png?rect=12,478,4988,4314&fp-x=0.5012254901960784&fp-y=0.5269607843137255&w=320&h=277&fit=crop&crop=focalpoint&auto=format'), url("https://cdn.sanity.io/images/w8f1ak3c/production/f1fa7f03dfd062ba551730e16a75d682058e6ed8-6241x4161.png/DSC0002_Dexter%20Kim.png?rect=1710,1262,3516,2888&fp-x=0.5556506849315068&fp-y=0.6504072565716401&w=320&h=263&fit=crop&crop=focalpoint&auto=format");
}

#dets3 {
    background-color: white;
}

#dets3::before {
    background-color: white;
    background-image: url("https://cdn.sanity.io/images/w8f1ak3c/production/63474079ab0c7723b75bd63b24d8bbc652349640-1408x1408.png/Cleanse%20&%20Nourish%20Hand%20Wash%20Two%20Good%20Co.png?w=320&h=320&auto=format"), url("https://cdn.sanity.io/images/w8f1ak3c/production/63474079ab0c7723b75bd63b24d8bbc652349640-1408x1408.png/Cleanse%20&%20Nourish%20Hand%20Wash%20Two%20Good%20Co.png?w=320&h=320&auto=format");
}

.details:hover::before {
    height: 200px;
}

/* -------------------------------->  Page 2 complete <---------------------------------- */


.page3 {
    min-height: 60vh;
    background-color: #f7f7f7;
}

.page3-text {
    height: 60vh;
    display: flex;
    font-family: futura;
}

.text-left {
    height: 90%;
    width: 70%;
    display: flex;
    align-items: center;
}

.text-left h1 {
    font-size: 4vw;
    width: 80%;
    line-height: 100%;
}

.text-right {
    width: 30%;
    height: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.text-right div {
    height: 55%;
    display: flex;
    flex-direction: column;
    color: #454545;
    justify-content: space-between;
}

.text-right div h5 {
    font-size: 15px;
    font-weight: 600;
    width: 75%;
}

.text-right div h4 {
    font-size: 13px;
    position: relative;
    width: 140px;
    cursor: pointer;

}

.text-right div h4::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    left: 0px;
    height: 1px;
    width: 100%;
    background-color: black;
}

.text-right div h4:hover::before {
    left: 100%;
    width: 0;
}

/* -------------------------------->  Page 3 complete <---------------------------------- */

.page4 {
    min-height: 150vh;
    margin: 80px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child {
    height: 80vh;
    width: 40vw;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #454545;
}

.child img {
    object-fit: contain;
    width: 100%;
    height: 90%;
}

.child div {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-weight: 100;
    align-items: center;
}

footer {
    height: 50vh;
}

/* -------------------------------->  Responsiveness <---------------------------------- */

@media screen and (max-width:800px) {
    .page1 {
        min-height: 120vh;
    }

    .page1 div h1 {
        font-size: 14vw;
        font-family: futura;
        text-align: center;
        line-height: 0%;
        letter-spacing: 0px;
        margin-bottom: 0;
    }

    .video-container {
        pointer-events: none;
    }

    .video-container video {
        height: 50vh;
    }

    .elements {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .elements .elem {
        width: 100%;
        height: 100vw;
    }

    nav .links-main {
        display: none;
    }

    .video-container div {
        padding: 6vw 4vw;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        scale: 1;
    }

}

@media screen and (max-width:550px) {
    .page1 {
        min-height: 90vh;
    }

    .page1 div h1 {
        font-size: 12vw;
    }

    .main-heading {
        justify-content: space-around;
    }
}